#Open CS
#create list
#run loop in if statement to count all female survivors
Print results

In [18]:
import csv

with open('titanic.csv')as csv_file:
    csv_reader = csv.reader(csv_file, delimiter= ',')
    female_survivor = 0
    
    #itterate over the rows and count surviving women
    for row in csv_reader:
        if row[4] =='female':
            female_survivor += int(row[1])
            
    #print results
    print(female_survivor)

233

In [12]:
#USing Pandas
import pandas as pd

#DF == Dataframe
df = pd.read_csv("titanic.CSV")

In [35]:
##ratio of dead men in 1st class

with open('titanic.csv')as csv_file:
    csv_reader = csv.reader(csv_file, delimiter= ',')
    male_deaths = 0
    males_in_class = 0
    
    #itterate over the rows and count dead men in 1st class
    for row in csv_reader:
        #count all males in class
        if row[4] =='male'and row[2] == '1':
            males_in_class += 1
        # count all dead males in class
        if row[4] =='male'and row[2] == '1'and row[1] =='0':
            male_deaths += 1
            
    #print results
    print(float(male_deaths/males_in_class))

0.6311475409836066

In [46]:
# Check the death rates of all classes
def class_ratio(pclass, reader):
    class_deaths = 0
    total_in_class = 0
    for row in reader:
        # count all dead in class
        if row[2] == pclass and row[1] =='0':
            class_deaths += 1
        #count all in class
        if row[2] == pclass:
            total_in_class += 1
        #print results
    print(class_deaths)
    print(total_in_class)
        
#         print(f"Class:{pclass}: {class_deaths/total_in_class}")
              
    

with open('titanic.csv')as csv_file:
    csv_reader = csv.reader(csv_file, delimiter= ',')
    class_ratio(1,csv_reader )

0
0

In [2]:
import pandas as pd

df = pd.DataFrame(data= {'name':['john', 'mary', 'peter','jeff','bill', 'lisa'], 'age':[23, 78, 22, 19, 45, 33], 
                         'state': ['iowa', 'dc', 'california', 'texas', 'washington', 'dc'], 'num_children': [2, 2, 0, 1, 2, 1],
                        'num_pets' : [0, 4, 0, 5, 0, 0]})
df

    name  age       state  num_children  num_pets
0   john   23        iowa             2         0
1   mary   78          dc             2         4
2  peter   22  california             0         0
3   jeff   19       texas             1         5
4   bill   45  washington             2         0
5   lisa   33          dc             1         0