In [1]:
# Create two dataframes that have commmon columns say X1
import pandas as pd
import numpy as np

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

In [2]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [4]:
# Merge adf and bdf based on adf
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [5]:
# Merge bdf on adf

In [6]:
pd.merge(adf, bdf, how="right")

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [7]:
pd.merge(adf, bdf, how="inner")

  x1  x2 x3
0  A   1  T
1  B   2  F

In [9]:
# unon of merge for adf and bdf
pd.merge(adf, bdf, how='outer')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [10]:
# append bdf andter bdf
pd.concat([adf, bdf], sort=True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T

In [11]:
# Column wise concatination
pd.concat([adf,bdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [12]:
# Sliceing dataframe based on largest value of a specific coulumns
# no.nan is null but can be interpreted a s anumber

In [14]:
df = pd.DataFrame({'a': [1, 10, 8, 11, -1],'b': list('abdce'), 'c': [1.0, 2.0, np.nan, 3.0, 4.0]})

NameError: name 'np' is not defined